<% layout('layouts/boilerplate') %>

    <div class="d-flex justify-content-center align-items-center text-center" id="about">
        <div>
            <h3>For questions and inquiries, please contact:</h3>
            <h3 class="mt-4"><a href="mailto:terrarium@primewaytrading.net">terrarium@primewaytrading.net</a><button
                    class="btn border-0"><i class="bi bi-copy"></i></button></h3>
        </div>
    </div>