<% layout('layouts/boilerplate') %>

    <div class="d-flex justify-content-center align-items-center h-100 text-center">
        <div>
            <h3>For questions and inquiries, please contact:</h3>
            <h3 class="mt-4">terrarium@primewaytrading.net</h3>
        </div>
    </div>