<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="d-flex justify-content-center align-items-center text-center" id="about">
                    <div>
                        <h4>For questions and inquiries, please contact:</h4>
                        <h4 class="mt-md-4"><a href="mailto:contact@primewaytrading.net">contact@primewaytrading.net
                            </a><button class="btn border-0"><i class="bi bi-copy"></i></button></h4>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-12 col-md-6">
                <h4 class="text-center" id="faq">FAQs:</h4>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#q1"
                            aria-expanded="false" aria-controls="collapseExample">
                            1. What exactly am I purchasing? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q1">
                        <div class="card card-body border-0">
                            You are purchasing digital terrarium design patterns.
                        </div>
                    </div>
                </div>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#q2"
                            aria-expanded="false" aria-controls="collapseExample">
                            2. What files will I receive? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q2">
                        <div class="card card-body border-0">
                            PDF files, JPG image files, or both (varied by the design)
                        </div>
                    </div>
                </div>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#q3"
                            aria-expanded="false" aria-controls="collapseExample">
                            3. How is the file delivered? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q3">
                        <div class="card card-body border-0">
                            Delivered automatically after payment confirmation via email with a download link
                        </div>
                    </div>
                </div>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn text-start" type="button" data-bs-toggle="collapse" data-bs-target="#q4"
                            aria-expanded="false" aria-controls="collapseExample">
                            4. What payment methods are accepted? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q4">
                        <div class="card card-body border-0">
                            Credit cards, Debit cards, Cash App, Cryptocurrency, Klarna, Amazon Pay
                        </div>
                    </div>
                </div>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#q5"
                            aria-expanded="false" aria-controls="collapseExample">
                            5. Is my payment safe? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q5">
                        <div class="card card-body border-0">
                            Yes. Payments are processed through secure third-party providers. We do not store or have
                            access to your full payment details.
                        </div>
                    </div>
                </div>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#q6"
                            aria-expanded="false" aria-controls="collapseExample">
                            6. How can I get my refund? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q6">
                        <div class="card card-body border-0">
                            The refund is not offered for digital products
                        </div>
                    </div>
                </div>
                <p class="d-inline-flex gap-1">
                    <button class="btn text-start" type="button" data-bs-toggle="collapse" data-bs-target="#q7"
                        aria-expanded="false" aria-controls="collapseExample">
                        7. Can I use the designs commercially? <i class="bi bi-caret-down-fill"></i>
                    </button>
                </p>
                <div class="collapse" id="q7">
                    <div class="card card-body border-0">
                        Yes. You may use the designs to create physical products and sell those products. You may not
                        resell, share, redistribute, or claim ownership of the design files themselves.
                    </div>
                </div>
                <div>
                    <p class="d-inline-flex gap-1">
                        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#q8"
                            aria-expanded="false" aria-controls="collapseExample">
                            8. How do I contact support? <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </p>
                    <div class="collapse" id="q8">
                        <div class="card card-body border-0">
                            Email support only. Response time: 24–48 hours
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>