<% layout('layouts/boilerplate') %>

<div
  class="canvas-wrap border mt-5 mb-3 mx-auto d-flex justify-content-center align-items-center"
>
  <canvas id="canvas" class="d-block"></canvas>
</div>
<div
  class="controls d-flex flex-column justify-content-center align-items-center gap-2 mb-5"
>
  <span id="angleOutput" class="fw-bold"></span>
  <button id="resetBtn" class="btn btn-danger">Reset</button>
  <span id="status">Upload an image</span>
  <input type="file" id="imageInput" accept="image/*" />
</div>

<script src="/js/angle.js"></script>
