<% layout('layouts/boilerplate') %>

    <div class="d-flex justify-content-center align-items-center text-center text-white" id="contact">
        <div>
            <h4>For questions and inquiries, please contact:</h4>
            <h4 class="mt-md-4 text-decoration-none"><a href="mailto:contact@primewaytrading.net"
                    class="email">contact@primewaytrading.net
                </a><button class="btn border-0 text-white"><i class="bi bi-copy"></i></button></h4>
        </div>
    </div>