<% layout('layouts/boilerplate') %>

    <div class="d-flex justify-content-center align-items-center text-center " id="about">
        <div>
            <h4>For questions and inquiries, please contact:</h4>
            <h4 class="mt-md-4 text-decoration-none"><a href="mailto:contact@primewaytrading.net"
                    class="text-decoration-none">contact@primewaytrading.net
                </a><button class="btn border-0"><i class="bi bi-copy"></i></button></h4>
        </div>
    </div>