html,
body {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#cart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

table tfoot tr:last-child td {
    border-bottom: none;
    padding-top: 2rem;
}

/* force the carousel itself to have the same height as the slides */
#carouselExampleFade {
    width: min(700px, 100%);
    height: clamp(250px, 60vw, 500px);
    position: relative;

}

/* make inner + items inherit that height */
#carouselExampleFade .carousel-inner,
#carouselExampleFade .carousel-item {
    height: 100%;
}

/* make images fill the 500px box */
#carouselExampleFade .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.navbar-brand-img {
    height: 40px;
    /* match navbar height */
    width: auto;
    object-fit: contain;
}

@media (max-width: 768px) {

    /* Center the whole column vertically */
    main {
        justify-content: center !important;

    }

    /* Optional: add controlled spacing between carousel and button */
    main {
        gap: 16px;
    }
}