<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>

<body>
    <h1>
        <%=design.name%>
    </h1>
    <h5>
        <%=design.price%>
    </h5>
    <p>
        <%=design.description%>
    </p>
</body>

</html>