<% layout('layouts/boilerplate') %>

    <div class="d-flex flex-column align-items-center" id="download-root" data-session-id="<%=sessionId%>">
        <div>
            <h4>Thank you for shopping!</h4>
            <h4 class="mt-4">Order ID: <%=order.orderNumber%>
            </h4>
        </div>
        <div>Order placed: <%=new Date(order.createdAt).toLocaleString()%>
        </div>
        <div id="status" class="mt-3 mb-3">Order processing ...</div>
        <div id="downloadList">
        </div>
        <div class="mt-4 mb-2">The link(s) will be sent to the email below:</div>
        <h5>
            <%=order.email%>
        </h5>
    </div>

    <script src="/js/orderDetail.js"></script>