<% layout('layouts/boilerplate') %>

<h1 id="dashboard" class="text-center mt-5 pt-5">Admin Dashboard</h1>
<div id="adminDashboard" class="d-flex justify-content-center gap-5">
  <a href="/admin/orderOverview" class="btn btn-lg btn-primary">View Orders</a>
  <a href="/admin/userOverview" class="btn btn-lg btn-primary">View Users</a>
</div>
