<% layout('layouts/boilerplate') %>

    <h1 id="dashboard">Admin Dashboard</h1>
    <div id="adminDashboard">
        <a href="/admin/orderOverview"><button>View Orders</button></a>
        <a href="/admin/userOverview"><button>View Users</button></a>
    </div>