<% layout('layouts/boilerplate') %>

    <h1 id="dashboard" class="text-center mt-5 pt-5">Admin Dashboard</h1>
    <div id="adminDashboard" class="d-flex justify-content-center gap-5">
        <a href="/admin/orderOverview"><button class="btn btn-lg btn-primary">View Orders</button></a>
        <a href="/admin/userOverview"><button class="btn btn-lg btn-primary">View Users</button></a>
    </div>