<% layout('layouts/boilerplate') %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

    <div class="row">
        <div class="d-flex justify-content-center align-items-center" id="registerForm">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">Register</h5>
                    </div>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="invalid-feedback">Required</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group">
                                <input class="form-control" type="password" id="password" name="password" required>
                                <span class="input-group-text"><i class="bi bi-eye-slash-fill" id="eyeIcon"></i></span>
                            </div>
                            <div class="invalid-feedback">Required</div>
                        </div>
                        <div class="cf-turnstile" data-sitekey="0x4AAAAAACOFjC_zbncU7Qrj"></div>
                        <button class="btn btn-success w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>